/* coustard-regular - latin */
@font-face {
  font-family: 'Coustard';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/coustard-v16-latin/coustard-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/coustard-v16-latin/coustard-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/coustard-v16-latin/coustard-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/coustard-v16-latin/coustard-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/coustard-v16-latin/coustard-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/coustard-v16-latin/coustard-v16-latin-regular.svg#Coustard') format('svg'); /* Legacy iOS */
}

/* coustard-black - latin */
@font-face {
  font-family: 'Coustard Black';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/coustard-black-latin/coustard-black.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/coustard-black-latin/coustard-black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/coustard-black-latin/coustard-black.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/coustard-black-latin/coustard-black.woff') format('woff'), /* Modern Browsers */
       url('../fonts/coustard-black-latin/coustard-black.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/coustard-black-latin/coustard-black.svg#Coustard-Black') format('svg'); /* Legacy iOS */
}

/** Droid Sans - latin **/
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/droid-sans-v18-latin/droid-sans-v18-latin-regular.woff2') format('woff2'),
       url('../fonts/droid-sans-v18-latin/droid-sans-v18-latin-regular.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/droid-sans-v18-latin/droid-sans-v18-latin-700.woff2') format('woff2'),
       url('../fonts/droid-sans-v18-latin/droid-sans-v18-latin-700.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* lato-100 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/lato-v23-latin/lato-v23-latin-100.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/lato-v23-latin/lato-v23-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-v23-latin/lato-v23-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v23-latin/lato-v23-latin-100.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-v23-latin/lato-v23-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-v23-latin/lato-v23-latin-100.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/lato-v23-latin/lato-v23-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/lato-v23-latin/lato-v23-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-v23-latin/lato-v23-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v23-latin/lato-v23-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-v23-latin/lato-v23-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-v23-latin/lato-v23-latin-300.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-300italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/lato-v23-latin/lato-v23-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/lato-v23-latin/lato-v23-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-v23-latin/lato-v23-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v23-latin/lato-v23-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-v23-latin/lato-v23-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-v23-latin/lato-v23-latin-300italic.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v23-latin/lato-v23-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/lato-v23-latin/lato-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-v23-latin/lato-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v23-latin/lato-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-v23-latin/lato-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-v23-latin/lato-v23-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lato-v23-latin/lato-v23-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/lato-v23-latin/lato-v23-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-v23-latin/lato-v23-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v23-latin/lato-v23-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-v23-latin/lato-v23-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-v23-latin/lato-v23-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}

/* libre-baskerville-regular - latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/libre-baskerville-v14-latin/libre-baskerville-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/libre-baskerville-v14-latin/libre-baskerville-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-baskerville-v14-latin/libre-baskerville-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-baskerville-v14-latin/libre-baskerville-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-baskerville-v14-latin/libre-baskerville-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-baskerville-v14-latin/libre-baskerville-v14-latin-regular.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
}

/* libre-baskerville-italic - latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/libre-baskerville-v14-latin/libre-baskerville-v14-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/libre-baskerville-v14-latin/libre-baskerville-v14-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-baskerville-v14-latin/libre-baskerville-v14-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-baskerville-v14-latin/libre-baskerville-v14-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-baskerville-v14-latin/libre-baskerville-v14-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-baskerville-v14-latin/libre-baskerville-v14-latin-italic.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
}

/* libre-baskerville-700 - latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/libre-baskerville-v14-latin/libre-baskerville-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/libre-baskerville-v14-latin/libre-baskerville-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-baskerville-v14-latin/libre-baskerville-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-baskerville-v14-latin/libre-baskerville-v14-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-baskerville-v14-latin/libre-baskerville-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-baskerville-v14-latin/libre-baskerville-v14-latin-700.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
}

/* lobster-regular - latin */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lobster-v28-latin/lobster-v28-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/lobster-v28-latin/lobster-v28-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lobster-v28-latin/lobster-v28-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lobster-v28-latin/lobster-v28-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lobster-v28-latin/lobster-v28-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lobster-v28-latin/lobster-v28-latin-regular.svg#Lobster') format('svg'); /* Legacy iOS */
}

/* merienda-regular - latin */
@font-face {
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/merienda-v14-latin/merienda-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/merienda-v14-latin/merienda-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/merienda-v14-latin/merienda-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merienda-v14-latin/merienda-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/merienda-v14-latin/merienda-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/merienda-v14-latin/merienda-v14-latin-regular.svg#Merienda') format('svg'); /* Legacy iOS */
}

/* merienda-700 - latin */
@font-face {
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/merienda-v14-latin/merienda-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/merienda-v14-latin/merienda-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/merienda-v14-latin/merienda-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merienda-v14-latin/merienda-v14-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/merienda-v14-latin/merienda-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/merienda-v14-latin/merienda-v14-latin-700.svg#Merienda') format('svg'); /* Legacy iOS */
}

/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v34-latin/open-sans-v34-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v34-latin/open-sans-v34-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v34-latin/open-sans-v34-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v34-latin/open-sans-v34-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v34-latin/open-sans-v34-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v34-latin/open-sans-v34-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v34-latin/open-sans-v34-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v34-latin/open-sans-v34-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v34-latin/open-sans-v34-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v34-latin/open-sans-v34-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v34-latin/open-sans-v34-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v34-latin/open-sans-v34-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v34-latin/open-sans-v34-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v34-latin/open-sans-v34-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v34-latin/open-sans-v34-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v34-latin/open-sans-v34-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v34-latin/open-sans-v34-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v34-latin/open-sans-v34-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v34-latin/open-sans-v34-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v34-latin/open-sans-v34-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v34-latin/open-sans-v34-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v34-latin/open-sans-v34-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v34-latin/open-sans-v34-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v34-latin/open-sans-v34-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/open-sans-v34-latin/open-sans-v34-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v34-latin/open-sans-v34-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v34-latin/open-sans-v34-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v34-latin/open-sans-v34-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v34-latin/open-sans-v34-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v34-latin/open-sans-v34-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-slab-v24-latin/roboto-slab-v24-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-slab-v24-latin/roboto-slab-v24-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-slab-v24-latin/roboto-slab-v24-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-slab-v24-latin/roboto-slab-v24-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-slab-v24-latin/roboto-slab-v24-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-slab-v24-latin/roboto-slab-v24-latin-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}

/* roboto-slab-700 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-slab-v24-latin/roboto-slab-v24-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-slab-v24-latin/roboto-slab-v24-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-slab-v24-latin/roboto-slab-v24-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-slab-v24-latin/roboto-slab-v24-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-slab-v24-latin/roboto-slab-v24-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-slab-v24-latin/roboto-slab-v24-latin-700.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}

/* varela-round-regular - latin */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/varela-round-v19-latin/varela-round-v19-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/varela-round-v19-latin/varela-round-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/varela-round-v19-latin/varela-round-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/varela-round-v19-latin/varela-round-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/varela-round-v19-latin/varela-round-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/varela-round-v19-latin/varela-round-v19-latin-regular.svg#VarelaRound') format('svg'); /* Legacy iOS */
}
/* inter-regular */
@font-face {
  font-family: 'Inter-WebFont';
  src: url('../fonts/inter/Inter24pt-Regular.woff2') format('woff2'),
      url('../fonts/inter/Inter24pt-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* inter-regular-italic */
@font-face {
  font-family: 'Inter-WebFont';
  src: url('../fonts/inter/Inter24pt-Italic.woff2') format('woff2'),
      url('../fonts/inter/Inter24pt-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
/* inter-medium */
@font-face {
  font-family: 'Inter-WebFont';
  src: url('../fonts/inter/Inter28pt-Medium.woff2') format('woff2'),
      url('../fonts/inter/Inter28pt-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter-WebFont';
  src: url('../fonts/inter/Inter28pt-Medium.woff2') format('woff2'),
      url('../fonts/inter/Inter28pt-Medium.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* inter-medium-italic */
@font-face {
  font-family: 'Inter-WebFont';
  src: url('../fonts/inter/Inter28pt-MediumItalic.woff2') format('woff2'),
      url('../fonts/inter/Inter28pt-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Inter-WebFont';
  src: url('../fonts/inter/Inter28pt-MediumItalic.woff2') format('woff2'),
      url('../fonts/inter/Inter28pt-MediumItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

